.ChoreCardContainer {
    text-align: center;
    padding: 16px;
    color: rgba(53, 58, 57, 0.897);
}

.ChoreCard a {
    color: rgba(232, 233, 227, 0.897);
    text-decoration: none;
}

.ChoreCard {
    float: left;
    margin: 1.5%;
    background: rgb(39, 93, 97);
    color: rgba(232, 233, 227, 0.897);
    width: 30%;
    min-width: 200px;
    height: 200px;
    padding: 1%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ChoreCard:hover {
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    box-shadow: 0 14px 28px rgba(190, 187, 6, 0.25), 0 10px 10px rgba(190, 187, 6,0.22);
}

.ChoreItem {
    display: inline-block;
    margin: 1.5%;
    background: rgb(39, 93, 97);
    color: rgba(232, 233, 227, 0.897);
    width: 50%;
    height: 300px;
    padding: 1%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ChoreFormContainer {
    display: inline-block;
    margin: 1.5%;
    background: rgb(39, 93, 97);
    color: rgba(232, 233, 227, 0.897);
    width: 70%;
    height: 500px;
    padding: 1%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ChoreForm {
    display: inline-block;
    width: 80%;
    max-width: 400px;
    text-align: center;
    align-content: center;
}

.NewChoreFormTitle {
    font-family: 'Rochester', cursive;
    font-size: 50px;
    color: #f5f858cc !important;
}

.FormLabels {
    display: inline;
    text-align: center;
    align-content: center;
}

.PointsInput {
    width: 30%;
    display: inline-block;
    text-align: center;
    align-content: center;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
}
  
input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
}

.ChoresPageTitle {
    /* font-family: 'Cookie', cursive;
    font-size: 60px; */
    /* font-family: 'Alex Brush', cursive; */
    font-family: 'Rochester', cursive;
    font-size: 54px;
    -webkit-text-stroke: .10px rgb(245, 248, 88, 0.8);
}